body
{
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.75em;
	max-width: 37.5em;
	margin: 2em 2em;	
}

p
{
	text-align: justify;
}

img
{
	max-width: 37.5em;
	width: 100%;	
}

li
{
	list-style-type: lower-alpha; 
}

ol 
{
	
}