body
{
	font-family: Helvetica, Arial, sans-serif;
	line-height: 32px;
	max-width: 600px;
	margin: 32px 32px;	
}

p
{
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

img
{
	max-width: 600px;
	width: 100%;	
}

ol.alphabetical-list
{
	list-style-type: lower-alpha;
}

.footnote
{
	font-size: small;
	position: relative;
	top: -4px;
}

a.footnote
{
	text-decoration: none;
}

.footnote-origin-link
{
	text-decoration: none;
}

footer
{
	border-top: 1px solid black;
	margin-top: 48px;
	margin-bottom: 48px;
	padding-top: 16px;
}
footer h1
{
	font-size: 24px;
}

figure

{
	font-size: smaller;
}