body 
{
	line-height: 24px;
	/*background-image: url("/images/24px-grid.gif");*/
	max-width: 600px;
	margin: 72px 48px 48px 48px;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

header
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px;
	font-family: Helvetica;
}

header h1
{
	font-size: 16px;
	display: inline;
	margin-bottom: 0;
	padding: 0;
	line-height: 16px;
	text-transform: uppercase;
}

header li.current
{
	border-bottom: 1px solid black;
}

header h1 a:link, header h1 a:visited
{
	color: grey;
}

header ul, header li
{
	display: inline;
}

header li
{
	margin-left: 24px;


}

header li:first-child
{
	margin-left: 96px;
}

img
{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
}

h1
{
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 12px;
}

h2
{
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 8px;
	margin-top: 8px;
}


h3
{
	font-size: 16px;
}

p 
{
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 12px;
	margin-top: 12px;
}

p.smaller

{
	font-size: smaller;
}

/* Specific styles */

ol.alphabetical-list
{
	list-style-type: lower-alpha;
}

ol
{
	list-style-type: decimal;
	margin-left: 48px;
}

ul
{
	list-style-type: square;
	margin-bottom: 12px;
	margin-top: 12px;
}

li 
{
	margin: 12px 0;
	paddng: 12px;
}


.footnote
{
	font-size: small;
	position: relative;
	top: -4px;
}

a
{
	text-decoration: none;

}

a.footnote
{
	text-decoration: none;

}

a:link 
{
	color:#FFCC00;
}		/* unvisited link */

a:visited 

{	
	color:#DF3A01;
}  		/* visited link */

.footnote-origin-link
{
	text-decoration: none;
}

footer
{
	border-top: 1px solid black;
	margin-top: 48px;
	margin-bottom: 48px;
	padding-top: 16px;
}

footer h1
{
	font-size: 24px;
}

figure

{
	font-size: smaller;
	margin-bottom: 12px;
	margin-top: 12px;
	text-align: center;

}

figure img
{
	margin-bottom: 0;
}

table
{
	margin: 12px 0;
}

td
{
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 48px;
	padding-right: 48px;
}


td.crapgrid
{
	margin; 0;
	padding: 0;
	background-color: #CDCDCD;
}

tr
{
	background-color: #CDCDCD;
}

tr:nth-child(2n)
{
	background-color: darkgrey;
}

tr:not(:last-child)
{
	border-bottom: 1px solid darkgrey;
}

tr.crapgrid
{
	margin; 0;
	padding: 0;
	background-color: #CDCDCD;
}

blockquote
{
	margin-left: 48px;
	margin-right: 48px;
}

time
{
	font-size: 8px;
}