body 
{
	line-height: 24px;
	/*background-image: url("/images/24px-grid.gif");*/
	max-width: 600px;
	margin: 24px 48px 48px 48px;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

img
{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
}

h1
{
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 12px;
}

h2
{
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 8px;
	margin-top: 8px;
}


h3
{
	font-size: 16px;
}

p 
{
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 12px;
	margin-top: 12px;
}

p.smaller

{
	font-size: smaller;
}

/* Specific styles */

ol.alphabetical-list
{
	list-style-type: lower-alpha;
}

ol
{
	list-style-type: decimal;
	margin-left: 48px;
}

ul
{
	list-style-type: square;
	margin-right: 48px;
	margin-bottom: 12px;
	margin-top: 12px;
}

li 
{
	margin; 12px;
	paddng: 12px ;
}

.footnote
{
	font-size: small;
	position: relative;
	top: -4px;
}

a
{
	text-decoration: none;

}

a.footnote
{
	text-decoration: none;

}

a:link 
{
	color:#FFCC00;
}		/* unvisited link */

a:visited 

{	
	color:#DF3A01;
}  		/* visited link */

.footnote-origin-link
{
	text-decoration: none;
}

footer
{
	border-top: 1px solid black;
	margin-top: 48px;
	margin-bottom: 48px;
	padding-top: 16px;
}

footer h1
{
	font-size: 24px;
}

figure

{
	font-size: smaller;
	margin-bottom: 12px;
	margin-top: 12px;
	text-align: center;

}

figure img
{
	margin-bottom: 0;
}

td
{
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 24px;
	margin-right: 24px
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #CDCDCD
}


td.crapgrid
{
	margin; 0;
	padding: 0;
	background-color: #CDCDCD
}

tr
{
	margin-top: 8px
	margin-bottom: 8px;
	margin-left: 24px;
	margin-right: 24px
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 24px;
	padding-right: 24px;
	background-color: #CDCDCD
}


tr.crapgrid
{
	margin; 0;
	padding: 0;
	background-color: #CDCDCD
}

blockquote
{
	margin-left: 24px;
	margin-right: 24px;
}