body 
{
	line-height: 24px;
	background-image: url("images/circle.jpg");
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: center top;
	max-width: 31.25rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 4rem;
	font-family: "museo-slab", Helvetica;
}

h1
{
	font-weight: 700;
	font-size: 4rem;
	line-height: 2rem;
/*	text-align: right; */
	margin-bottom: 2rem;
	margin-left: 3.5rem;
	color: #000000;
	}

h2
{
	font-size: 2rem;
	color: #666699;
	text-align: right;
	margin-bottom: 2rem;
	margin-right: 1rem;
}

h2.first
{
	margin-top: 3rem;
}

h3
{
	font-family: Helvetica;
	font-size: 2rem;
	color: #366699;
	line-height: 2rem;
	text-align: right;
}

p.colophon
{
	line-height: 2.5rem;
	font-size: 1rem;
}

nav
{
	
}

ul
{
	position: right;
}

li
{
	text-decoration: none;
	list-style-type: none;
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 2rem;
	line-height: 2.5rem;
}

footer
{
	text-align: center;
	border-top: solid 1px #666699;
	padding-top: 0.5rem;
	margin-top: 4rem;
	color: #666699;
}

@media all and (min-width: 768px)
{
	body
	{
		max-width: 900px;
		background-position: left;

	}

	footer
	{
		text-align: left;
		border: none;
	}
}