body
{
	font-family: 'Merriweather Sans', adelle, Georgia, serif;
	line-height: 24px;
	max-width: 600px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	background-color: #E8E4D3;
}

img.header-image
{
	width: 25%;
}

nav
{
	border-top: dashed 1px #55ACE6;
	border-bottom: dashed 1px #55ACE6;
	margin-bottom: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/*nav.about-border
{
	border-top: dashed 1px #783E00;
	border-bottom: dashed 1px #783E00;
}*/

nav ul
{
	text-align: center;
}

nav li
{
	display: inline;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

li
{
	margin-left: 2rem;
	list-style-type: circle;

}

h1
{
	font-family: 'Lato', adelle, Georgia, serif;
	font-weight: 700;
	line-height: 3rem;
	font-size: 2.35rem;
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

p
{
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

p.colophon
{
	border-top: dashed 1px #55ACE6;
	text-align: center;
	padding-top: 1rem;
}

p.underline
{
	text-decoration: underline;
}

a
{
	text-decoration: none;
	color: black;
}

li a:hover
{
	color: #B50000;
}

a.red
{
	color: #B50000;
}

a.blue
{
	color: #0A69A8;
}

@media all and (min-width: 650px)
{

	body
	{
		margin-right: auto;
		margin-left: auto;
	}

	h1
	{
		font-size: 3rem;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}

	nav ul
	{
	text-align: center;
	}

	nav li
	{
	display: inline;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	}

	li
	{
	font-size: 1.25rem;
	margin-left: 2rem;
	list-style-type: circle;
	}

	p{
		font-size: 1.25rem;
		line-height: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

/*	div.intro-column
	{
		float: left;
	}

	div.blog-column
	{
		float: right;
	}*/

}

@media all and (max-width: 330)
{

}
