body
{
	font-family: 'Lora', adelle, Georgia, serif;
/*	font-size: 24px;*/
	line-height: 1.5rem;
	max-width: 600px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	background-color: #E8E4D3;
}

img.header-image
{
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav
{
	border-top: dashed 1px #55ACE6;
	border-bottom: dashed 1px #55ACE6;
	margin-bottom: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/*nav.about-border
{
	border-top: dashed 1px #783E00;
	border-bottom: dashed 1px #783E00;
}*/

nav ul
{
	text-align: center;
}

nav li
{
	display: inline;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

li
{
	line-height: 2rem;
	margin-left: 2rem;
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
	list-style-type: circle;

}

h1
{
	font-weight: 700;
	font-style: italic;
	line-height: 3rem;
	font-size: 2rem;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h2
{
	font-weight: 800;
}

p
{
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	font-size: 1.225rem;
	line-height: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

p.colophon
{
	font-size: 1rem;
	border-top: dashed 1px #55ACE6;
	text-align: center;
	padding-top: 1rem;
}

p.column-top-left
{
	font-size: 1rem;
	line-height: 1.5rem;
	border: dashed 1px #55ACE6;
	padding: 1rem;
}

p.column-top-right
{
	font-size: 1rem;
	line-height: 1.5rem;
	border: dashed 1px #55ACE6;
	padding: 1rem;
}

a
{
	text-decoration: underline;
	color: black;
}

p a 
{
	color: #B50000;
}

a.current
{
	border-bottom: solid 1px #B50000;
	color: #B50000;
}

nav a
{
	text-decoration: none;
}

li a:hover
{
	color: #B50000;
}

a.red
{
	color: #B50000;
}

a.blue
{
	color: #0A69A8;
}

span
{
	font-weight: 800;
}



@media all and (min-width: 650px)
{

	body
	{
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	img.header-image
	{
		width: 40px;
	}


	h1
	{
		font-size: 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	nav
	{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	nav li
	{
		margin-left: 1.7rem;
		margin-right: 1.7rem;

	}

	li
	{
		font-size: 1rem;
	}

	p.main-text
	{
		font-size: 1.5rem;
		line-height: 2.5rem;
		margin-top: 1.5rem;
		padding-bottom: 1rem;
		border-bottom: dashed 1px #55ACE6;
		margin-bottom: 0.5rem;
	}

	p.column-top-left
	{
		float: left;
		max-width: 47%;
		font-size: 1rem;
		line-height: 1.5rem;
		margin-top: 0.5rem;
		position: inherit;
		border: none;
		padding: 0;
	}

	p.column-top-right
	{
		float: right;
		max-width: 47%;
		font-size: 1rem;
		line-height: 1.5rem;
		margin-top: 0.5rem;
		position: inherit;
		border: none;
		padding: 0;
	}


	footer
	{
		clear: both;
	}

}

@media all and (max-width: 330)
{
	p
	{
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
